doctype html
html
	head
		link(href='assets/fonts/osans/osans.css', rel='stylesheet')
		link(href='assets/css/normalize.css', rel='stylesheet')
		link(href='assets/css/main.css', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Simple site for your product
	body
		section.meet
			.wrap
				.logo
				.open-menu
				.slogan
					img(src='assets/images/meet-perth.png')
					p A stupidly simple, flat PSD. Oh yeah, it's 
						span free 
						| too!
					a.button(href='#') Download
						img(src='assets/images/dl-icon.png')
				.illustration
					img(src='assets/images/iphone5-head.svg')
		section.description
			.wrap
				h4 A Longwinded Header
				p She'll be right paddock how lets throw a ciggies. She'll be right ute to built like a doovalacky. We're going rack off bloody she'll be right pash. You little ripper tucker also get a dog up ya greenie.
				blockquote You little ripper boozer no worries she'll be right holy dooley!. Come a freo also as cross as a your shout. Lets throw a khe sanh flamin dead dingo's donger. Lets get some fisho with grab us a trackie dacks.
				a.button(href='') say hello
					img(src='assets/images/pochta-icon.png')
				.illustration
					img(src='assets/images/ipad-right.svg')
		section.dribble
			.wrap
				h4 Get a Dog Up Ya'
				p She'll be right paddock how lets throw a ciggies. She'll be right ute to built like a doovalacky.
				p We're going rack off bloody she'll be right pash. You  little ripper tucker also get a dog up ya greenie.
				a.button(href='') view on dribble
					img(src='assets/images/dribble-icon.png')
				.illustration
					img(src='assets/images/macbook.svg')
					img(src='assets/images/imac.svg')
					img(src='assets/images/ipad.svg')
					img(src='assets/images/iphone5.svg')
					img(src='assets/images/ipadmini.svg')
		section.buymebeer
			.wrap
				h4 Like What You See?
				a.button(href='') BUY ME A BEER
					img(src='assets/images/dribble-icon.png')
		section.social
			.wrap
				.links
					a(href="#")
						img(src='assets/images/dribble-icon.svg')
					a(href="#")
						img(src='assets/images/facebook-icon.svg')
					a(href="#")
						img(src='assets/images/twitter-icon.svg')
					a(href="#")
						img(src='assets/images/paperplane.svg')
				form
					.formgroup
						label Newsletter Subscription
						input(type='email', placeholder='Enter Email')
						img(src='assets/images/icon-subscription.png')
		section.footer
			p © 2013 
				span Perth. 
				| Breeding pixels since the naughties.
		section.menu
			.wrap
				.close-menu
				.menu
					a(href="#")
						img(src='assets/images/menu-home.png')
						| Домой
					a(href="#")
						img(src='assets/images/menu-home.png')
						| Домой
		script(src='assets/js/app.js', type='text/javascript')